<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
		 xmlns:b="http://www.springframework.org/schema/beans"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">
	<http use-expressions="true">
		<csrf disabled="true" />
		<intercept-url	pattern="/admin" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"/>
		<intercept-url	pattern="/admin/cat/**" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/cat" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/product" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/product/add" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/product/edit/*" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/product/del/*" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/user/edit-profile" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/contact" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/giftcode" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/giftcode/**" access="hasAnyRole('ROLE_ADMIN','ROLE_MOD')"	/>
		<intercept-url	pattern="/admin/**" access="hasRole('ROLE_ADMIN')"	/>
		<intercept-url	pattern="/**" access="permitAll()"	/>
		<form-login
			login-page="/login"
			login-processing-url="/login"
			password-parameter="password"
			username-parameter="username"
			default-target-url="/admin"
			always-use-default-target="true"
			authentication-failure-url="/login?msg=Error"
		 />
		 <logout
		 	logout-url="/logout"
		 	logout-success-url="/login"
		 	invalidate-session="true"
		 />
		 <access-denied-handler error-page="/login/403"/>
	</http>
	
	<user-service>
		<user name="admin" password="12345" authorities="ROLE_ADMIN" locked="false" disabled="false"/>
	</user-service>
	<b:bean id="BCryptPasswordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></b:bean>
	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource" 
				users-by-username-query="SELECT username,password,active FROM users WHERE username=? and active=1"
				authorities-by-username-query="SELECT username,concat('ROLE_',name) role FROM users INNER JOIN  roles ON users.roleId = roles.roleId WHERE username=?"
				 />
			<password-encoder hash="bcrypt" ref="BCryptPasswordEncoder" />
			
		</authentication-provider>
		
	</authentication-manager>

</b:beans>